package ui

templ MentionOfAuthor() {
	<div class="position-fixed bottom-0 start-50 translate-middle-x">
		<p>Made with ❤️ by <a href="https://github.com/nazarkhatsko" target="_blank">nazarkhatsko</a>.</p>
	</div>
}
