package pages

import (
	"imgix/internal/components/layouts"
	"imgix/internal/components/ui"
)

type ConvertOptions struct {
	AppName  string
	PageName string
}

templ Convert(options ConvertOptions) {
	@layouts.App() {
		@ui.Navbar(ui.NavbarOptions{
			AppName:  options.AppName,
			PageName: options.PageName,
		})
		@ui.MentionOfAuthor()
	}
}
